.button {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  border-color: transparent;
  background-color: var(--color-secondary);
  color: rgb(250, 250, 250);
  font-weight: bold;
}
